body,html {
    height: 100%;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.table td, .table th{
    border: none;
}

label.btn i {
    opacity: 0.1;
}
label.btn.active i {
    opacity: 1;
}

.btn-file {
    position: relative;
    overflow: hidden;
    margin-left: 5px;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    cursor: inherit;
    display: block;
}

.invalid-feedback-2 {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}