<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: headMeta">
    <title>Confirm</title>
</head>
<body>
<section th:replace="fragments/header :: header">Header</section>
<!--<div class="container">-->
    <div class="d-flex align-items-center flex-column justify-content-center h-75">
        <h1 class="display-3">Delete <span th:text="${dataToDelete}">dataToDelete</span> ?</h1>

        <form method="post" th:action="@{${deletePath}}" id="deleteForm">
            <input type="submit" class="btn btn-info" value="Delete">
            <a href="/">
                <input type="button" class="btn btn-secondary" value="Cancel">
            </a>

        </form>
    </div>
<!--</div>-->
</body>
</html>