<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: headMeta">
    <title>Confirm</title>
</head>
<body>
<section th:replace="fragments/header :: header">Header</section>
<div class="container">
    <h1>Delete <span th:text="${dataToDelete}">dataToDelete</span> ?</h1>

    <form method="post" th:action="@{${deletePath}}" id="deleteForm">
        <input type="submit" class="btn btn-success" value="Delete">
        <a href="/">
            <input type="button" class="btn btn-danger" value="Cancel">
        </a>

    </form>
</div>
</body>
</html>