<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: headMeta">
    <title>Confirm</title>
</head>
<body>
<section th:replace="fragments/header :: header">Header</section>
<div class="container">
    <h1 class="display-4">You are editing <span th:text="${workoutToEditName}">dataToEdit</span>.</h1>

    <form method="post" th:action="@{/workout/edit/{id}(id=${workoutToEdit.getId()})}" id="editForm" th:object="${workoutToEdit}">
        <div class="form-group">
            <input class="form-control" th:classappend="${#fields.hasErrors('name')} ? 'is-invalid' : ''"
                   type="text" th:field="*{name}" placeholder="Name">
            <div class="invalid-feedback" th:errors="*{name}" th:if="${#fields.hasErrors('name')}">Errors</div>
        </div>
        <input type="submit" class="btn btn-info" value="Save changes">
        <a href="/">
            <input type="button" class="btn btn-secondary" value="Cancel">
        </a>

    </form>
</div>
</body>
</html>