<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: headMeta">
    <title id="pageTitle">Edit workout</title>
</head>
<body>
<section th:replace="fragments/header :: header">Header</section>
<div class="container">
    <h1 class="display-4">You are editing workout @ <span th:text="${workoutHisotryToEditName}">dataToEdit</span>.</h1>

    <form method="post" th:action="@{/workouthistory/edit/{id}(id=${workoutHistory.getId()})}" id="editForm" th:object="${workoutHistory}" enctype="multipart/form-data">
        <div class="form-group row">
            <label for="dateInput" class="col-sm-2 col-form-label">Date</label>
            <div class="col-sm-10">
                <input class="form-control" th:classappend="${#fields.hasErrors('date')} ? 'is-invalid' : ''"
                       type="date" th:field="*{date}" id="dateInput">
                <div class="invalid-feedback" th:errors="*{date}" th:if="${#fields.hasErrors('date')}">Errors</div>
            </div>
        </div>
        <div class="form-group row">
            <label for="weightInput" class="col-sm-2 col-form-label">Weight [kg]</label>
            <div class="col-sm-10">
                <input class="form-control" th:classappend="${#fields.hasErrors('weight')} ? 'is-invalid' : ''"
                       type="number" th:field="*{weight}" step=0.01 id="weightInput">
                <div class="invalid-feedback" th:errors="*{weight}" th:if="${#fields.hasErrors('weight')}">Errors</div>
            </div>
        </div>
        <div class="form-group row">
            <label for="waistInput" class="col-sm-2 col-form-label">Waist [cm]</label>
            <div class="col-sm-10">
                <input class="form-control" th:classappend="${#fields.hasErrors('waist')} ? 'is-invalid' : ''"
                       type="number" th:field="*{waist}" step=0.01 id="waistInput">
                <div class="invalid-feedback" th:errors="*{waist}" th:if="${#fields.hasErrors('waist')}">Errors</div>
            </div>
        </div>
        <div>
            <span class="badge badge-info" th:text="*{'Your BMI is ' + #numbers.formatDecimal(getBmi(),0,2)+ '. This is considered as: '+ describeBMI()}">Your BMI is</span>
        </div>
        <hr/>
        <div class="form-group form-check">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary btn-sm d-flex justify-content-center align-content-between" th:classappend="*{workoutMade} ? 'active' : ''">
                    <input type="checkbox" checked autocomplete="off" th:field="*{workoutMade}" th:classappend="${#fields.hasErrors('workoutMade')} ? 'is-invalid' : ''"><i class="material-icons" title="Workout done">accessibility_new</i>
                </label>
            </div>
            <div class="invalid-feedback" th:errors="*{workoutMade}" th:if="${#fields.hasErrors('workoutMade')}">Errors</div>
        </div>
        <hr/>
        <div th:if="${workoutHistory.getImage()!=null}" class="img-container">
            <img th:src="${imagesPath + workoutHistory.getImage()}" style="width: 100%;"/>
            <a th:href="@{/workouthistory/edit/{id}/clear(id=${workoutHistory.getId()})}" class="close-button"><i class="material-icons">close</i></a>
            <input  type="hidden" th:name="image" th:id="image" th:value="${workoutHistory.getImage()}"/>
        </div>

        <div class="form-group">
            <input class="form-control-file" th:classappend="${imageError} ? 'is-invalid' : ''"
                   type="file" id="checkbox-image" name="imageFile">
            <div class="invalid-feedback" th:text="${imageError}" th:if="${imageError}">Errors</div>
        </div>

        <input  type="hidden" th:field="*{user}"/>
        <input  type="hidden" th:name="workout" th:id="workout" th:value="${workoutHistory.workout.getId()}"/>

        <input type="submit" class="btn btn-info" value="Save changes">
        <a href="/">
            <input type="button" class="btn btn-secondary" value="Cancel">
        </a>

    </form>
</div>
</body>
</html>