<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: headMeta">
    <title>Please log in</title>
</head>
<body>
<div class="d-flex align-items-center flex-column justify-content-center h-100">

                <h1 class="display-4">trainer</h1>
                <div class="alert alert-danger" th:if="${param.error}">
                    Unable to log in. Check username or password
                </div>

                        <form method="post" th:action="@{/login}" id="loginForm">
                            <div class="form-group">
                                <input class="form-control" type="text" name="username" id="username" placeholder="username">
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="password" name="password" id="password" placeholder="password">
                            </div>
                            <input type="submit" class="btn btn-info btn-block" value="Login">
                            <p>Click <a th:href="@{/register}">here</a> for register</p>

                        </form>


            </div>
<!--        </div>-->
<!--    </div>-->

</body>
</html>