<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: headMeta">
    <title id="pageTitle">trainer</title>
</head>
<body>
<section th:replace="fragments/header :: header">Header</section>
<div class="container">
    <div class="row">
        <div class="col-4">
            <h1 class="display-4">Workouts</h1>

            <table class="table table-sm">
                <tr th:each="workout: ${workouts}">
                    <td><span class="font-weight-bold" th:text="${workout.getName()}">Title</span></td>
                    <td><span class="badge badge-light" th:text="${#dates.format(workout.getCreatedAt(),'MM-yyyy')}"></span></td>
                    <td class="d-flex justify-content-center align-content-between">
                        <a th:href="@{/(h=${workout.getId()})}" class="btn btn-outline-info btn-sm d-flex justify-content-center align-content-between mr-1"><i class="material-icons md-18">done</i></a>
                        <a th:href="@{/workout/edit/{id}(id=${workout.getId()})}" class="btn btn-outline-secondary btn-sm d-flex justify-content-center align-content-between mr-1"><i class="material-icons md-18">build</i></a>
                        <a th:href="@{/workout/delete/{id}(id=${workout.getId()})}" class="btn btn-outline-secondary btn-sm d-flex justify-content-center align-content-between mr-1"><i class="material-icons md-18">close</i></a>
                    </td>
                </tr>
            </table>

            <form method="post" th:action="@{/workout}" th:object="${workout}" id="newworkout">
                        <div class="form-group">
                            <div class=" d-flex justify-content-center align-content-between">
                                <input class="form-control" th:classappend="${#fields.hasErrors('name')} ? 'is-invalid' : ''"
                                       type="text" th:field="*{name}" placeholder="Name">
                                <div class="invalid-feedback" th:errors="*{name}" th:if="${#fields.hasErrors('name')}">Errors</div>
                                <button type="submit" class="btn btn-info d-flex justify-content-center align-content-between mx-1">
                                    <i class="material-icons md-18">add</i>
                                </button>
                            </div>


                     </div>

            </form>

</div>

        <div class="col" th:if="${names}">
            <h3 class="font-weight-lighter">Workout journal [<span th:text="${(names!=null) ? names.get('currentWorkout') : null}"/>]</h3>

            <table class="table table-sm table-hover">
                <thead>
                <tr>
                    <th scope="col" style="width: 10%" class="font-weight-lighter">Date</th>
                    <th scope="col" style="width: 15%" class="font-weight-lighter">Weight [kg]</th>
                    <th scope="col" style="width: 15%" class="font-weight-lighter">Waist [cm]</th>
                    <th scope="col" style="width: 15%" class="font-weight-lighter">BMI</th>
                    <th scope="col" style="width: 20%" class="font-weight-lighter">Events</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tr th:each="workoutHistory: ${workoutHistoryList}">
                    <th scope="row" class="font-weight-normal" th:text="${workoutHistory.getDate()}"></th>
                    <td class="font-weight-light" th:text="${workoutHistory.getWeight()}"></td>
                    <td class="font-weight-light" th:text="${workoutHistory.getWaist()}"></td>
                    <td class="font-weight-light" th:text="${#numbers.formatDecimal(workoutHistory.getBmi(),0,2)}" th:title="${workoutHistory.describeBMI()}"></td>
                    <td>
                        <i th:if="${workoutHistory.workoutMade}" class="material-icons" title="Workout done">accessibility_new</i>
                        <i th:if="${workoutHistory.image!=null}" class="material-icons" title="Image uploaded">photo_camera</i>
                    </td>
                    <td class="d-flex justify-content-center align-content-between">
                        <a th:href="@{/workouthistory/edit/(h=${workoutHistory.getId()})}" class="btn btn-outline-secondary btn-sm d-flex justify-content-center align-content-between mr-1"><i class="material-icons md-18">build</i></a>
                        <a th:href="@{/workouthistory/delete/(h=${workoutHistory.getId()})}" class="btn btn-outline-secondary btn-sm d-flex justify-content-center align-content-between mr-1"><i class="material-icons md-18">close</i></a>
                    </td>
                </tr>
<!--            </table>-->
            <form method="post" th:action="@{/workouthistory}" th:object="${workoutHistory}" id="newworkouthistory" enctype="multipart/form-data">
<!--                <table class="table table-sm">-->
                    <tr>
                        <td>
                            <div class="form-group">
                            <input class="form-control" th:classappend="${#fields.hasErrors('date')} ? 'is-invalid' : ''"
                                   type="date" th:field="*{date}">
                            <div class="invalid-feedback" th:errors="*{date}" th:if="${#fields.hasErrors('date')}">Errors</div>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <input class="form-control" th:classappend="${#fields.hasErrors('weight')} ? 'is-invalid' : ''"
                                       type="number" th:field="*{weight}" step=0.01>
                                <div class="invalid-feedback" th:errors="*{weight}" th:if="${#fields.hasErrors('weight')}">Errors</div>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <input class="form-control" th:classappend="${#fields.hasErrors('waist')} ? 'is-invalid' : ''"
                                       type="number" th:field="*{waist}" step=0.01>
                                <div class="invalid-feedback" th:errors="*{waist}" th:if="${#fields.hasErrors('waist')}">Errors</div>
                            </div>
                        </td>
                        <td class="d-flex justify-content-center align-content-between" >
                            <div>
                                <div class="form-group form-check">
                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                        <label class="btn btn-secondary btn-sm d-flex justify-content-center align-content-between">
                                            <input type="checkbox" checked autocomplete="off" th:field="*{workoutMade}" th:classappend="${#fields.hasErrors('workoutMade')} ? 'is-invalid' : ''"><i class="material-icons" title="Workout done">accessibility_new</i>
                                        </label>
                                    </div>
<!--                                    <input class="form-check-input" th:classappend="${#fields.hasErrors('workoutMade')} ? 'is-invalid' : ''"-->
<!--                                           type="checkbox" th:field="*{workoutMade}" id="checkbox-workout-made">-->
<!--                                    <label class="form-check-label" for="checkbox-workout-made"><i class="material-icons" title="Workout done">accessibility_new</i></label>-->
                                    <div class="invalid-feedback" th:errors="*{workoutMade}" th:if="${#fields.hasErrors('workoutMade')}">Errors</div>
                                </div>
                            </div>
                            <div>
                                <div class="form-group">
    <!--                                <label class="btn btn-default btn-file" th:classappend="${imageError} ? 'is-invalid' : ''">-->
    <!--                                    Browse <input type="file" style="display: none;" name="imageFile">-->
    <!--                                    <div class="invalid-feedback" th:text="${imageError}" th:if="${imageError}">Errors</div>-->
    <!--                                </label>-->

<!--                                    <input class="form-control-file" th:classappend="${imageError} ? 'is-invalid' : ''"-->
<!--                                           type="file" id="checkbox-image" name="imageFile">-->
                                    <span class="btn btn-primary btn-sm d-flex justify-content-center align-content-between btn-file"><i class="material-icons">add_a_photo</i><input type="file" name="imageFile"></span>


                                </div>
                                <div>
                                     <div th:text="${imageError}" th:if="${imageError}" class="invalid-feedback-2">Errors</div>
                                </div>
                            </div>
                        </td>
                        <td class="justify-content-center align-content-between">
                            <div class="form-group">
                                <button type="submit" class="btn btn-info btn-sm d-flex justify-content-center align-content-between mx-1">
                                    <i class="material-icons">add</i>
                                </button>
                            </div>
                        </td>
                    </tr>

            </form>
            </table>
            <div class="jumbotron" th:if="${workoutHistoryList.size()>1}">
                <h1 class="display-3">Statistics</h1>
                <hr class="my-4">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Duration in days
                        <span class="border-left border-primary p-2" th:text="${statistics.get('duration')}"></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Weight loss [kg]
                        <span class="border-left border-primary p-2" th:text="${#numbers.formatDecimal(statistics.get('weightLoss'), 0,2)}"></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        BMI index
                        <span class="border-left border-primary p-2" th:text="${#numbers.formatDecimal(statistics.get('bmiIndex'),0,2)}" th:title="${statistics.get('bmiDescription')}"></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Waist loss [cm]
                        <span class="border-left border-primary p-2" th:text="${#numbers.formatDecimal(statistics.get('waistLoss'),0,2)}">1</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Number of workouts
                        <span class="border-left border-primary p-2" th:text="${statistics.get('workoutCount')}">1</span>
                    </li>
                </ul>

                <div th:if="${statistics.get('firstImg')!=null and statistics.get('lastImg')!=null}">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="card">
                                <img th:src="${imagesPath +statistics.get('firstImg')}" class="card-img-top" alt="Workout beggining">
                                <div class="card-body">
                                    <p class="card-text" th:text="${statistics.get('firstImgDate')}"></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card">
                                <img th:src="${imagesPath +statistics.get('lastImg')}" class="card-img-top" alt="Workout beggining">
                                <div class="card-body">
                                    <p class="card-text" th:text="${statistics.get('lastImgDate')}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>
</body>
</html>