<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>Trainer</title>
</head>
<body>
<section th:replace="fragments/header :: header">Header</section>
<div class="container">
    <div class="row">
        <div class="col-4">
            <h1 class="display-4">Workout groups</h1>

            <table class="table table-sm">
                <tr th:each="workout: ${workouts}">
                    <td><span class="font-weight-bold" th:text="${workout.getName()}">Title</span></td>
                    <td><span class="badge badge-light" th:text="${#dates.format(workout.getCreatedAt(),'MM-yyyy')}"></span></td>
                    <td class="d-flex justify-content-center align-content-between">
                        <a th:href="@{/(h=${workout.getId()})}" class="btn btn-outline-info btn-sm d-flex justify-content-center align-content-between mr-1"><i class="material-icons md-18">done</i></a>
                        <a th:href="@{/workout/edit/{id}(id=${workout.getId()})}" class="btn btn-outline-secondary btn-sm d-flex justify-content-center align-content-between mr-1"><i class="material-icons md-18">build</i></a>
                        <a th:href="@{/workout/delete/{id}(id=${workout.getId()})}" class="btn btn-outline-secondary btn-sm d-flex justify-content-center align-content-between mr-1"><i class="material-icons md-18">close</i></a>
                    </td>
                </tr>
            </table>

            <form method="post" th:action="@{/workout}" th:object="${workout}" id="newworkout">
                        <div class="form-group">
                            <div class=" d-flex justify-content-center align-content-between">
                                <input class="form-control" th:classappend="${#fields.hasErrors('name')} ? 'is-invalid' : ''"
                                       type="text" th:field="*{name}" placeholder="Name">
                                <div class="invalid-feedback" th:errors="*{name}" th:if="${#fields.hasErrors('name')}">Errors</div>
                                <button type="submit" class="btn btn-info d-flex justify-content-center align-content-between mx-1">
                                    <i class="material-icons md-18">add</i>
                                </button>
                            </div>


                     </div>

            </form>

</div>

        <div class="col">
            <h3>Workout history [<span th:text="${(names!=null) ? names.get('currentWorkout') : null}"/>]</h3>

            <table class="table table-sm table-hover">
                <thead>
                <tr>
                    <th scope="col" style="width: 20%">Date</th>
                    <th scope="col" style="width: 15%">Weight [kg]</th>
                    <th scope="col" style="width: 15%">Waist [cm]</th>
                    <th scope="col" style="width: 20%">Events</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tr th:each="workoutHistory: ${workoutHistoryList}">
                    <th scope="row" th:text="${workoutHistory.getDate()}"></th>
                    <td th:text="${workoutHistory.getWeight()}"></td>
                    <td th:text="${workoutHistory.getWaist()}"></td>
                    <td>
                        <i th:if="${workoutHistory.workoutMade}" class="material-icons" title="Workout done">accessibility_new</i>
                        <i th:if="${workoutHistory.image!=null}" class="material-icons" title="Image uploaded">photo_camera</i>
                    </td>
                    <td>
                        <a th:href="@{/workouthistory/edit/(h=${workoutHistory.getId()})}" class="btn btn-success btn-sm">Edit</a>
                        <a th:href="@{/workouthistory/delete/(h=${workoutHistory.getId()})}" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
<!--            </table>-->
            <form method="post" th:action="@{/workouthistory}" th:object="${workoutHistory}" id="newworkouthistory" enctype="multipart/form-data">
<!--                <table class="table table-sm">-->
                    <tr>
                        <td>
                            <div class="form-group">
                            <input class="form-control" th:classappend="${#fields.hasErrors('date')} ? 'is-invalid' : ''"
                                   type="date" th:field="*{date}">
                            <div class="invalid-feedback" th:errors="*{date}" th:if="${#fields.hasErrors('date')}">Errors</div>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <input class="form-control" th:classappend="${#fields.hasErrors('weight')} ? 'is-invalid' : ''"
                                       type="number" th:field="*{weight}" step=0.01>
                                <div class="invalid-feedback" th:errors="*{weight}" th:if="${#fields.hasErrors('weight')}">Errors</div>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <input class="form-control" th:classappend="${#fields.hasErrors('waist')} ? 'is-invalid' : ''"
                                       type="number" th:field="*{waist}" step=0.01>
                                <div class="invalid-feedback" th:errors="*{waist}" th:if="${#fields.hasErrors('waist')}">Errors</div>
                            </div>
                        </td>
                        <td>
                            <div class="form-group form-check">
                                <input class="form-check-input" th:classappend="${#fields.hasErrors('workoutMade')} ? 'is-invalid' : ''"
                                       type="checkbox" th:field="*{workoutMade}" id="checkbox-workout-made">
                                <label class="form-check-label" for="checkbox-workout-made"><i class="material-icons" title="Workout done">accessibility_new</i></label>
                                <div class="invalid-feedback" th:errors="*{workoutMade}" th:if="${#fields.hasErrors('workoutMade')}">Errors</div>
                            </div>

                            <div class="form-group">
                                <input class="form-control-file" th:classappend="${imageError} ? 'is-invalid' : ''"
                                       type="file" id="checkbox-image" name="imageFile">
                                <div class="invalid-feedback" th:text="${imageError}" th:if="${imageError}">Errors</div>
                            </div>
                        </td>
                        <td>
                            <input type="submit" class="btn btn-success btn-sm btn-block" value="Add">
                        </td>
                    </tr>

            </form>
            </table>
            <div class="jumbotron">
                <p class="lead">Statistics</p>
                <hr class="my-4">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Duration in days
                        <span class="badge badge-primary badge-pill" th:text="${statistics.get('duration')}"></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Weight loss [kg]
                        <span class="badge badge-primary badge-pill" th:text="${statistics.get('weightLoss')}"></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Waist loss [cm]
                        <span class="badge badge-primary badge-pill" th:text="${statistics.get('waistLoss')}">1</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Number of workouts
                        <span class="badge badge-primary badge-pill" th:text="${statistics.get('workoutCount')}">1</span>
                    </li>
                </ul>

                <div th:if="${statistics.get('firstImg')!=null and statistics.get('lastImg')!=null}">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="card">
                                <img th:src="${imagesPath +statistics.get('firstImg')}" class="card-img-top" alt="Workout beggining">
                                <div class="card-body">
                                    <p class="card-text" th:text="${statistics.get('firstImgDate')}"></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card">
                                <img th:src="${imagesPath +statistics.get('lastImg')}" class="card-img-top" alt="Workout beggining">
                                <div class="card-body">
                                    <p class="card-text" th:text="${statistics.get('lastImgDate')}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>
</body>
</html>