<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: headMeta">
    <title id="pageTitle">Change password</title>
</head>
<body>
<section th:replace="fragments/header :: header">Header</section>
<div class="d-flex align-items-center flex-column justify-content-center h-75">

    <h1 class="display-4">Password change</h1>
    <form method="post" th:action="@{/user/password/}" th:object="${passwordForm}">
<!--        <div class="form-group">-->
<!--            <input class="form-control" th:classappend="${#fields.hasErrors('username')} ? 'is-invalid' : ''"-->
<!--                   type="text" th:field="*{username}" placeholder="username">-->
<!--            <div class="invalid-feedback" th:errors="*{username}" th:if="${#fields.hasErrors('username')}">Errors</div>-->
<!--        </div>-->
        <div class="form-group row">
            <label for="passInput" class="col-sm-4 col-form-label">Old password</label>
            <div class="col-sm-8">
                <input class="form-control" th:classappend="${#fields.hasErrors('oldPassword')} ? 'is-invalid' : ''"
                       type="password" placeholder="old password" th:field="*{oldPassword}" id="passInput">
                <div class="invalid-feedback" th:errors="*{oldPassword}" th:if="${#fields.hasErrors('oldPassword')}">Errors</div>
            </div>
        </div>
        <div class="form-group row">
            <label for="passNewInput" class="col-sm-4 col-form-label">New password</label>
            <div class="col-sm-8">
                <input class="form-control" th:classappend="${#fields.hasErrors('newPassword')} ? 'is-invalid' : ''"
                       type="password" placeholder="new password" id="passNewInput" th:field="*{newPassword}">
                <div class="invalid-feedback" th:errors="*{newPassword}" th:if="${#fields.hasErrors('newPassword')}">Errors</div>
            </div>
        </div>
        <div class="form-group row">
            <label for="passNewConfirmInput" class="col-sm-4 col-form-label">Confirm new password</label>
            <div class="col-sm-8">
                <input class="form-control" th:classappend="${#fields.hasErrors('confirmPassword')} ? 'is-invalid' : ''"
                       type="password" placeholder="confirm new password" id="passNewConfirmInput" th:field="*{confirmPassword}">
                <div class="invalid-feedback" th:errors="*{confirmPassword}" th:if="${#fields.hasErrors('confirmPassword')}">Errors</div>
            </div>
        </div>
<!--        <div class="form-group row">-->
<!--            <label for="nameInput" class="col-sm-2 col-form-label">Name</label>-->
<!--            <div class="col-sm-10">-->
<!--                <input class="form-control" th:classappend="${#fields.hasErrors('name')} ? 'is-invalid' : ''"-->
<!--                       type="text" th:field="*{name}" placeholder="name" id="nameInput">-->
<!--                <div class="invalid-feedback" th:errors="*{name}" th:if="${#fields.hasErrors('name')}">Errors</div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="form-group row">-->
<!--            <label for="emailInput" class="col-sm-2 col-form-label">Email</label>-->
<!--            <div class="col-sm-10">-->
<!--                <input class="form-control" th:classappend="${#fields.hasErrors('email')} ? 'is-invalid' : ''"-->
<!--                       type="email" th:field="*{email}" placeholder="email" id="emailInput">-->
<!--                <div class="invalid-feedback" th:errors="*{email}" th:if="${#fields.hasErrors('email')}">Errors</div>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="form-group row">-->
<!--            <label for="heightInput" class="col-sm-4 col-form-label">Height [cm]</label>-->
<!--            <div class="col-sm-8">-->
<!--                <input class="form-control" th:classappend="${#fields.hasErrors('height')} ? 'is-invalid' : ''"-->
<!--                       type="number" th:field="*{height}" placeholder="height [cm]" step="0.01" id="heightInput">-->
<!--                <div class="invalid-feedback" th:errors="*{height}" th:if="${#fields.hasErrors('height')}">Errors</div>-->
<!--            </div>-->
<!--        </div>-->

        <input type="submit" class="btn btn-info btn-block" value="Update password">
        <a class="btn btn-secondary btn-block" href="/user/">Cancel</a>
    </form>

</div>
</body>
</html>